<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="cn" connectionString="Server=localhost;Uid=sa;Pwd=sasa;MultipleActiveResultSets=True;Timeout=120&#xD;&#xA;;Database=pruebademo;"
   providerName="System.Data.SqlClient" />
  <add name="Presentacion.My.MySettings.pruebademoConnectionString"
   connectionString="Data Source=DESKTOP-M987TSB\MSSQLSERVERREAL;Initial Catalog=pruebademo;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	   
</configuration>
